<template>
  <div class="header_container">
    <div class="grid-content bg-purple">欢迎，XXXXXXX商家</div>
    <div class="operation">
      <div>[
        <a v-on:click="changePwd">修改密码</a>
        ]
      </div>
      <div>[
        <a v-on:click="signout">退出账户</a>
        ]
      </div>
    </div>
  </div>
</template>

<script>
import { signout } from '@/api/getData'
import { baseImgPath } from '@/config/env'
import { mapActions, mapState } from 'vuex'
import { Notification } from 'element-ui'

export default {
  data() {
    return {
      baseImgPath,
    }
  },
  created() {
    if (!this.adminInfo.id) {
      this.getAdminData()
    }
  },
  computed: {
    ...mapState(['adminInfo']),
  },
  methods: {
    // ...mapActions(['getAdminData']),
    // async handleCommand(command) {
    //   if (command == 'home') {
    //     this.$router.push('/manage');
    //   } else if (command == 'singout') {
    //     const res = await signout()
    //     if (res.status == 1) {
    //       this.$message({
    //         type: 'success',
    //         message: '退出成功'
    //       });
    //       this.$router.push('/');
    //     } else {
    //       this.$message({
    //         type: 'error',
    //         message: res.message
    //       });
    //     }
    //   }
    // },
    changePwd() {
      this.$notify.success({
        title: '信息1',
        message: '修改密码',
        offset: 100
      });
    },
    signout: function () {
      this.$notify.success({
        title: '信息2',
        message: '退出',
        offset: 100
      });
    },
  }
}
</script>

<style lang="less">
@import '../style/mixin';
.header_container {
  margin-left: 20px;
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  color: #9b9b9b;
}

.avator {
  .wh(36px, 36px);
  border-radius: 50%;
  margin-right: 37px;
}

.el-dropdown-menu__item {
  text-align: center;
}

a {
  cursor: pointer; //a标签不跳转，删除href
}
</style>
