<template>
  <div class="search" style="height:100px">
    <el-row type="flex">
      <el-col :span="6">
        <div class="block" style="padding:10px 10px 10px 20px">
          <el-date-picker v-model="datevalue" type="daterange" placeholder="选择日期范围" format="yyyy/MM/dd" :picker-options="pickerOptions2">
          </el-date-picker>
        </div>
      </el-col>
      <el-col :span="10">
        <div style="padding:10px 10px 10px 20px">
          <el-input placeholder="输入订单编号" v-model="input">
            <el-select v-model="select" slot="prepend" placeholder="选择资源方">
              <el-option label="资源方1" value="1"></el-option>
              <el-option label="资源方2" value="2"></el-option>
              <el-option label="资源方3" value="3"></el-option>
            </el-select>
            <el-button slot="append" icon="search" v-on:click="show"></el-button>
          </el-input>
        </div>
      </el-col>
      <el-col :span="4">
        <div style="padding:10px 10px 10px 20px">
          <el-button type="primary" class="excel">导出Excel</el-button>
        </div>
      </el-col>
    </el-row>

  </div>
</template>

<script>
import Message from 'element-ui'
export default {
  data() {
    return {
      input: '',
      select: '',
      pickerOptions2: {
        shortcuts: [{
          text: '前一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '前一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '前三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      datevalue: ''
    }
  },
  methods: {
    show() {
      this.$message({
        showClose: true,
        message: `资源方id${this.$data.select}，日期${this.$data.datevalue},输入${this.$data.input}`
      });
    }
  },
}
</script>

<style lang="less">
.el-select .el-input {
  width: 120px;
}

.demonstration {
  color: #010101;
  font-size: 14px;
}

.excel {
  background-color: #ff974b;
  border: 0px;
}
</style>


